/* header */

.header {  
    background-color: #0779e4;
    color: white;
    /* padding: 1em 0; */
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    /* border: 1px solid #000; */
    /* background-color: #fff; */
    padding: 0.6em 1.2em;
    display: inline-block;
}
.logo {
    font-size: 30px;
    display: inline-block;
    pad: 0.2em 0;

}
.nav-link:hover {
    background-color: #4489ca;
}